:root {
  --main-color: #303238;
  --dark-color: #121211;
  --color-yellow: #fbbf24;
  --color-white: #cbd5e1;
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root,
html,
body {
  height: 100%;
}
body {
  background-color: var(--main-color);
}
.text-info {
  color: var(--color-yellow);
  font-size: 1.2rem;
  margin: 0.5rem;
  font-family: var(--font-cabin);
}
button {
  cursor: pointer;
}
